header {
    background-color: black;
    color: white;
    padding: 13px;
    text-align: center;
}

/* Layout principal */
.main-content {
    display: flex;
    padding: 20px;
}

article {
    flex: 2;
    background: white;
    padding: 40px;
    margin-right: 20px;
    border-radius: 5px;
}

aside {
    flex: 1;
    background: beige;
    padding: 10px;
    border-radius: 5px;
}

/*contacto*/
.contacto {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 5px;
}

/* mensagem ocupa 100% da largura */
textarea {
    width: 100%;
    height: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

/* Coloca Nome e Email na mesma linha */
.form-group {
    display: flex;
    gap: 20px; /* Espaço entre os campos */
}

.form-group input {
    flex: 1; /* Faz os inputs ocuparem espaço igual */
}

/* Garante que a mensagem ocupe 100% da largura */
textarea {
    width: 100%;
}
input:focus, textarea:focus {
    border-color: #f00000; /* Muda a cor da borda ao focar */
    box-shadow: 0 0 5px rgba(240, 0, 0, 0.5); /* Adiciona um brilho ao redor */
    outline: none; /* Remove o contorno padrão do navegador */
    
}


label {
    margin: 10px 0 5px;
}

input {
    width: 100%;
    
}

.btn-enviar {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #555;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease-in-out;
}
nav a:hover {
    color: #f00000;
}
nav a::after {
    content: "";  /* Cria um pseudo-elemento vazio */
    position: absolute;  /* Permite posicionamento absoluto em relação ao <a> */
    left: 0;  /* Alinha o pseudo-elemento à esquerda do link */
    bottom: -3px;  /* Posiciona o sublinhado ligeiramente abaixo do link */
    width: 100%;  /* Faz o sublinhado ocupar toda a largura do link */
    height: 2px;  /* Define a espessura do sublinhado */
    background-color: #f00000;  /* Define a cor do sublinhado */
    
    transform: scaleX(0);  /* Inicialmente, o sublinhado está "escondido" */
    transition: transform 0.3s ease-in-out;  /* Adiciona uma animação suave */
}

nav a:hover::after {
    transform: scaleX(1);  /* Faz o sublinhado aparecer quando o mouse passa sobre o link */
}